  /* body{
    background-color: #f6f6f6;  
  } */
  * {
    margin: 0;
    padding: 0;
 }
 body {
    height:100%;
    background-color: rgb(240, 240, 232);
    /* z-index: -2; */
 }
  .comm-left{
    background-color: #FFF;
    padding:1rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
    box-shadow: 0 0 5px 1px #999 
    
  }
  .comm-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
    box-shadow: 0 0 5px 1px #999 
    
  
  }
  .comm-main{
    margin-top: 1.6rem;
  }

  .list-title{
    font-size:1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
    
  }
  .list-context{
    color:#777;
    padding:.5rem;
  }
  .list-icon{
    padding:.5rem 0;
    color:#AAA;
  }
  .list-icon span{
    display: inline-block;
    padding: 0 10px;
  }
